* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;

}

body {
    background-color: rgb(121, 118, 128);
}

.container{
    background-color: rgb(89, 164, 246);
    height: 15vh;
    color: white;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-top: 19px;
}

.contato {
    display: flex;
    column-gap: 20px;
}

.buttonitem {
    color: white;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.buttonitem:hover {
    color: blue;
}

